body {
    padding: 0%;
    margin: 0%;
    display: block;
}

header {
    background-color: #2b2d42;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

header .links {
    display: flex;
    /* justify-content: end; */
    align-items: center;
}

header .links a {
    color: #edf2f4;
    padding: 25px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

header .links a:hover {
    background-color: #d90429;
}

main {
    background-color: #8d99ae;
}

main h1 {
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
}

main p {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

#index .hero {
    display: flex;
    max-width: 1280px;
    padding: 250px 0px;
    margin: auto;
}

#index .hero h1 {
    font-size: 64px;
    padding: 25px 50px;
}

#index .hero p {
    font-size: 18px;
    padding: 0px 50px;
}

#index .to-go {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0px;
}

#index .to-go h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 64px;
    padding: 25px 0px;
}

#index .to-go p {
    font-size: 24px;
}

#index .to-go article {
    margin: 0px 25px;
    background-color: antiquewhite;
}

#index .to-go article p {
    text-align: center;
    padding: 25px 0px;
}

#about section {
    max-width: 1340px;
    margin: auto;
}

#about section h1 {
    font-size: 64px;
    padding: 100px 0px 25px 0px;
    text-align: center;
}

#about section p {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

#about section .steam-game-container,
#about section .spotify-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 50px 0px;
}

#about .mapouter {
    margin: auto;
    padding: 50px 0px;
}

#about .pc-build {
    padding-bottom: 100px;
}

#about table {
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#about tr:nth-child(even) {
    background-color: #dddddd;
}

#about th {
    border: 1px solid #dddddd;
    padding: 25px;
}

#about td {
    border: 1px solid #dddddd;
    padding: 25px;
}

#portfolio section {
    max-width: 1280px;
    margin: auto;
}

#portfolio section h1 {
    font-size: 64px;
    padding: 100px 0px;
    text-align: center;
}

#contact h1 {
    max-width: 1240px;
    padding: 125px 0px 25px 0px;
    margin: auto;
    text-align: center;
}

#contact form {
    max-width: 1240px;
    padding-bottom: 100px;
    margin: auto;
}

footer {
    color: white;
    background-color: #ef233c;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0px;
}

footer .flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

footer i {
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding-right: 10px;
}

/* footer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
}

footer nav a i {
    font-size: 64px;
}

footer nav p {
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
}

footer .copyright {
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: auto;
} */